<h1>Angular Items</h1>

<a href="porfolios/new">Create new Item</a>

<%= link_to "Create new Item", new_porfolio_url %>



<%  @angular_portfolio_items.each do |porfolio_item| %>
  <p><%= link_to porfolio_item.title, porfolio_show_path(porfolio_item.id) %>  </p>
  <p><%=porfolio_item.subtitle %>  </p>
  <p><%=porfolio_item.body %>  </p>
  <%= image_tag porfolio_item.thumb_image  if !porfolio_item.thumb_image.nil? %> 
  <%#= image_tag porfolio_item.thumb_image  unless porfolio_item.thumb_image.nil? %> 
  <%= link_to "Edit", edit_porfolio_path(porfolio_item.id) %>
  <!-- <a href="/porfolios/<%= porfolio_item.id %>/edit">edit2</a> -->
  <%= link_to 'Destroy', porfolio_path(porfolio_item.id), method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>